body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #161D25;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.site-title {
    font-size: 48px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

.js-list {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

}

.js-item {
    display: flex;
    width: 582px;
    /* border: 1px solid transparent; */
    border-radius: 8px;
    margin-bottom: 50px;
    background-color: #304156;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(149, 121, 121, 0.12) 0px -12px 30px, rgba(158, 137, 137, 0.12) 0px 4px 6px, rgba(87, 80, 80, 0.17) 0px 12px 13px, rgba(63, 57, 57, 0.09) 0px -3px 5px;
}

.js-id {
    display: inline-block;
    margin-bottom: 20px;
}

.js-item-name {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    color: #f00;
    text-transform: uppercase;
}

.js-item-text {
    margin: 0;
    margin-bottom: 20px;
}

.js-time {
    display: inline-block;
    margin-bottom: 20px;
}

.js-img {
    width: 300px;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.js-box {
    width: 280px;
    padding: 10px;
}

.js-genbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.js-genre {
    margin-left: 10px;

}

.box {
    text-align: center;
    margin-bottom: 40px;
}

.text {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin: 0;
    margin-right: 50px;
}

.js-select {
    /* width: 100px; */
    padding: 5px 10px;
    font-size: 20px;
    background-color: #304156;
    border-radius: 5px;
    color: #fff;
}

.js-option {
    display: inline-block;
    padding: 5px 10px;
    /* background-color: rgb(227, 234, 34); */
}








.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-info{
    display: flex;
}

.modal-inner{
    margin-left: 40px;
    margin-right: 20px;
}
.modal-btn, .mark-btn{
    font-weight: 600;
    padding: 10px 15px;
    background-color: #161D25;
    color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
}

.modal-btn:hover, .modal-btn:focus, .mark-btn:hover{
    background-color: #fff;
    color: #f00;
    border: 1px solid #f00;
    cursor: pointer;
}

.modal-btn{
    /* font-size: 18px; */
    margin-right: 20px;
    text-transform: uppercase;
}

.mark-btn{
    /* font-size: 18px; */
    margin-right: 20px;
    text-transform: uppercase;
}









.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-img{
    width: 300px;
  }

  .modal-item-title{
    font-size: 36px;
    text-transform: uppercase;
  }

  .box-top{
    display: flex;
  }
  .bookmark{
    margin-left: 150px;
  }

  .js-mark-title{
    margin: 0;
    font-size: 30px;
    color: #fff;
  }

  .mark-item{
    color: #f00;
  }